.section.basicInfo{
    .col.img{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 50%;
        }
    }
    .typography{
        padding-left: 1em;
        .information-item{
            border-left: 0.5em solid var(--orange);
            margin-bottom: 0.5em;
            padding: 0.2em 0 0.2em 0.5em;
            color: var(--black);
            font-weight: bold;
            transform: translateX(100%);
            opacity: 0;
            animation: getAnimationDuration(0.5s) slideInRight forwards;
            @for $i from 2 through 8{
                &:nth-child(#{$i}){
                    animation-delay: #{$i * 0.1}s;
                }
            }
        }
        .btn{
            margin-top: 1em;
        }
        
    }
    
}