@media screen and (max-width: 1050px) {
    .container {
        padding-inline: 10vw; 
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        .nav-links {
            display: none;
        }
        .sidebar-btn {
            display: block;
        }
    }

    .container {
        padding-inline: 5vw;
    }
    .section {
        padding: 2em 1em !important;
        
        .col {
            width: 100%;
            text-align: center;
            margin-bottom: 2em;
        }

        .title {
            font-size: 2em; 
        }
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding-inline: 3vw;
    }
    .title-meniPg {
        font-size: 1.8em;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    ul li {
        font-size: 0.9em;
    }
}