.title-meniPg {
    text-align: center;
    padding-top: 2em;
    font-size: 3em;
    color: #1a1a1a;
} 

.meni-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
    grid-gap: 4em 1.5em;
    padding: 5% 25%; 

    @media (max-width: 1200px) {
        padding: 5% 10%;
    }
    @media (max-width: 768px) {
        padding: 5% 5%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

.meni-card {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease;
    border: 1px solid #f0f0f0;
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
    }

    .meni-card-info {
        padding: 1em;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .meni-title {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 0.4em;
        color: #1a1a1a;
    }

    .description {
        color: #444;
        opacity: 0.9;
        font-size: 0.9em;
        letter-spacing: 0.5px;
        line-height: 1.4;
        margin-bottom: 3em; 
    }

    .view-btn {
        font-size: 1em;
        font-weight: 800;
        color: var(--orange);
        display: inline-block;
        position: absolute;
        bottom: 1em;
        left: 1em;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
            color: #000;
            transform: scale(1.05);
        }
    }
}