.quart-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    background-color: var(--black);
    color: var(--white);
    .map .map-area{
        width: 100%;
        height:28.5em;
    }
    .quart-description{
        width: 100%;
        text-align: center;
        padding-top: 1.5em;
    }
    .quart-list{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 5%;
        padding: 2em 5em;
        text-align: left;
        width: 100%;
        height: auto;
    }
    .quart-list ul li{
        padding-bottom: 0.2em;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        font-weight: 500;
        &:hover{
            color: var(--orange);
        }
    }
}