.proslave-box {
    background: #fdfdfd; 
    border-radius: 10px; 
    padding: 30px;
    border-left: 10px solid var(--park-green); 
    margin-block: 40px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    h2 { 
        color: var(--park-green); 
    }
    @media (max-width: 768px) { 
        flex-direction: column;
        gap: 20px; 
        text-align: center; 
    }
}