:root {
    --orange: #E59E1B;     
    --park-green: #31694E; 
    --kafe-blue: #0992C2; 
    --white: #ffffff;
    --black: #000000;
}
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Roboto Slab", serif !important; 
}

body {
    font-size: 16px; 
    scroll-behavior: smooth; 
    overflow-x: hidden; 
    background-color: var(--white);
}

.landing-page-theme {
    --nav-bg: #0f0f0f;
    --nav-text: #ffffff;
    --accent-color: var(--orange);
    --footer-bg: #000000;
}

.pizzeria-theme {
    --nav-bg: var(--orange);
    --nav-text: #000000;
    --accent-color: var(--orange);
    --footer-bg: var(--orange);
}

.park-theme {
    --nav-bg: var(--park-green);
    --nav-text: #ffffff;
    --accent-color: var(--park-green);
    --footer-bg: var(--park-green);
}

.kafe-theme {
    --nav-bg: var(--kafe-blue);
    --nav-text: #ffffff;
    --accent-color: var(--kafe-blue);
    --footer-bg: var(--kafe-blue);
}

%bg-img-base {
    height: 70vh; 
    width: 100%; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0; left: 0; width: 100%; height: 100%;
        z-index: 1;
    }
    & > * { position: relative; z-index: 2; }

    @media (max-width: 768px) { background-attachment: scroll; height: 60vh; }
}

.backgroundImg { 
    @extend %bg-img-base; 
    background-image: url('../../public/img/naslovna3.jpg'); 
}
.landingPageImg { 
    @extend %bg-img-base; 
    background-image: url('../../public/img/landing-bg.jpg'); 
}
.ambienteParkImg { 
    @extend %bg-img-base; 
    background-image: url('../../public/img/parkbackground.jpg'); 
}
.ambienteKafeImg { 
    @extend %bg-img-base; 
    background-image: url('../../public/img/kafebackground.jpg'); 
}

.landing-page-theme, .pizzeria-theme, .park-theme, .kafe-theme {
    padding-top: 0px;
}
.container.main {
    padding-top: 80px;
    padding-bottom: 7vh;   
    padding-inline: 25vh;   
    background-color: var(--white);
    min-height: 400px;    
    @media (max-width: 1400px) { padding-inline: 15vh; }
    @media (max-width: 900px) { padding-inline: 10vw; padding-top: 60px; }
    @media (max-width: 768px) { padding-inline: 5vw; }
}

.main {
    background-color: var(--white);
    padding-block: 7vh; 
}
@import "partials/landingPage"; 
@import "partials/navbar";
@import "partials/hero";
@import "partials/basicInfo";
@import "partials/panel";
@import "partials/footer";
@import "partials/meniCards";
@import "partials/quart";
@import "partials/animations";
@import "partials/media-queries";
@import "partials/recomendationCaffe";
@import "partials/proslave";
@import "partials/blueMountainSection.scss";
@import "partials/buttons.scss";